*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 75px;
}
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    
}
header .logo-section{
    display: flex;
    align-items: center;
}
header .logo-section img{
    width: 50px;
    object-fit: cover;
}
.logo-section h5{
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.search-box input{
    width: 300px;
    height: 30px;
    background: #e3e0e0;
    margin-left: -10px;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    border: none;
      
}

.navbar nav  ul {
    display: inline-flex;
    justify-content: center;
    
    align-items: center;
    list-style: none;
}
.navbar nav ul li{
    margin: 10px;

}

.navbar nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-transform: lowercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar nav ul li i{
    margin: 2px;
    font-size: 20px;
}
.search-box-1{
    display: none;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #eae4e4; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover{
    color: #000;
  }
  
  /* When you mouse over the navigation links, change their color */
 
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
@media (max-width: 768px){
    .container{
        display:none ;
    }
    .search-box{
        margin-left: 20px;
        margin-top: 10px;
    }
    .search-box input{
        width: 100%;
        border-radius: 2px;
        height: 50px;
        text-align: center;
    }
    .search-box-1{
        display: block;
    }
    .second-logo-section{
        display: block;    
    }
   
}
