* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 350px;
    height: 500px;
    perspective: 800px;
  }
  .card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }
  .front-side, .back-side {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
  }
  .front-side {
    background-image: url(car1.jpg);
    background-size: 100% 100%;
  }
  .back-side {
    background-color: black;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
  }
  .container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
  }